[package]
name = "vilikOS"
version = "0.1.0"
edition = "2021"

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"

[dependencies]
heapless = "0.9.2"

#[dependencies]
#core = { package = "core", version = "*" }
